body {
    margin: 0;
    font-family: 'outfit';
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --text: #2C2C2C;
    --blue: #3666EC;
    --red: #EF233C;
}

h1, h2, h3, p, a {
    color: var(--text);
}

/* Nav bar section */

.header-main-container {
    background: white;
    filter: drop-shadow(0px 0px 1px #a0a0a0);
    padding: 31px 31px;
}

.header-wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 1100px;
    margin: 0 auto;
}

.header-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    align-items: center;
}

.header-menu li a{
    text-decoration: none;
}

.logo {
    font-weight: 400;
}

/* Hero section */

#hero {
    height: calc(100vh - 92px);
    display: grid;
    grid-template-rows: 1fr 50px;
}

.hero-top-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    margin: 0 auto;
}

.left-content, .avatar-section {
    display: flex;
    align-items: center;
}

.avatar-section img {
    height: 600px;
}

#hero h2 {
    font-weight: 500;
    font-size: 35px;
}

.blue-text {
    color: var(--blue);
}

.red-text {
    color: var(--red);
}

.hero-bottom-left img{
    height: 30px;
}

.hero-bottom-section {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1100px;
    margin: 0 auto;
}